@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #000;
    /*background: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent,*/
    /*        rgb(var(--background-end-rgb))*/
    /*) rgb(var(--background-start-rgb));*/
}

@keyframes glow {
    0%, 66%{
        opacity: 0;
    }
    33%, 100% {
        opacity: 1.5;
    }
}

.animate-glow {
    animation: glow linear 0.5s 1;
}


@keyframes dangerous {
    0%, 80% {
        transform: translateX(50%);
    }
    40% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animate-dangerous-hover:hover {
    animation: dangerous 6s 1;
}



